  * {
    margin: 0;
    font-family: Rubik;
    color: rgb(66 8 70);
    -webkit-font-smoothing: antialiased;
  }
  html {
    font-size: 62.5%;
  }
  body {
    display: flex;
    min-height: 100vh;
    place-items: center;
    place-content: center;
    background:#fff;
  }
  section {
    width: 100%;
    max-width: 44rem;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  * :not(h1) {
    font-size: 1.6rem;
  }

  form,
  label {
    display: grid;
    grid-gap: 2rem;
  }

  label {
    align-items: center;
    grid-template-columns: auto 1fr;
  }

  input {
    background: white;
    color: rgb(7 2 18);
    transition: all 200ms ease;
    border-left: 0 solid transparent;
  }

  input,
  button {
    border: 0;
    height: 5.8rem;
    padding: 0 calc(5.8rem * 0.5);
    border-radius: calc(5.8rem * 0.3);
    box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
  }

  button {
    cursor: pointer;
    background: rgb(241 172 220);
  }
