body, ul, h1, h2, h3, h4, h5 {
	margin:0;
	font-size: 20px;
}
.bg-dark{
    background-color: #333;
}
.text-white{
    color: #ffffff;
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 2.5rem;
}
.p-5{
    padding: 3rem;
}
.mt-1{
	margin: 0.5rem;
}
.container{
	 max-width: 1320px;
	 width: 100%;
	 margin-left: auto;
	 margin-right: auto;
}
.navbar-nav{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.nav-link{
	padding: 0.5rem 1rem ;
	color: rgba(0,0,0,0.55);
	text-decoration: none;
}
.nav-link.active {
	color: rgba(0,0,0,0.9);
}
.bg-light{
  background-color: #f3f3f3;
}
.navbar{
	height: 50px;
	display: flex;
}
.collapse{
	height: 100%;
	display: flex;
	align-items: center;

}
.coolest{
	max-width: 1320px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.row{
	display: flex;
	flex-direction: row;
}
.sidebar{
	width: 22%;
	background-color: #322348;
	margin: 4px;
	border: 2px solid #000;
	display: flex;
	 justify-content: center;
}
.content {
	width: 100%;
	margin: 4px;
	display: flex;
  flex-direction: column;
}
.dudeslu{
padding: 7px;
}
.dudeslu li{
	padding: 10px 40px;
	background:#47256c;
	color: #fff;
	font-size: 20px;
	margin-bottom: 5px;
}
.dudeslu li:first-child{
	border-bottom: none;
}
.post-footer{
}
.but-better{
	border: 3px solid rgb(113 95 163);
	color: rgb(255, 255, 255);
	background-color: rgb(147 75 135);
  border-radius: 5px;
	width: 180px;
	height: 40px;
}
.but-butter{
	border: 3px solid rgb(4 92 70);
	color: rgb(255 255 255);
	background-color: rgb(46 153 101);
  border-radius: 5px;
	width: 180px;
	height: 40px;
}
.pand {
	display: flex;
	justify-content: center;
}
.pinki {
	height: 32px;
	width: 250px;
	background-color: #5cffd6;
	margin: 15px;
	padding: 15px;
	border: 5px solid #baa5f3;
	display: flex;
	justify-content: center;
	align-items: center;
}
article {
	border: 1px solid #333;
	border-radius: 3px;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}
.post-ft{
	background-color: #c3b2b5;
}
.post-sd{
	background-color: #52c59d;
}
article img{
	max-width: 250px;
	margin-right: 15px;
}
.post-meta{
	display: flex;
	font-size: 14px;
}
.post-meta > *{
	margin: 0;
	margin-right: 15px;
}
.post-meta span {
    font-style: italic;
}
.post-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
